/* 이안의 요소들은 가로로 되도록 */
.MainPage {
  border: 1px solid red;
}
.InfoRankingLike {
  display: flex;
  justify-content: space-around;
  border: 1px solid blue;
}

.Info {
  border: 1px solid yellow;
}
.Ranking {
  border: 1px solid black;
}
.Comopany {
  border: 1px solid burlywood;
}
