/* 메인 레이아웃 스타일링 */
.InfoStockCompany {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px; /* 각 컴포넌트 간 간격 */
  padding: 20px;
}

/* 각 섹션(사용자 정보, 주식, 회사 목록) 스타일링 */

.Info {
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 배열 */
  align-items: center; /* 세로축(가로 방향) 중앙 정렬 */
  justify-content: center; /* 가로축(세로 방향) 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
}
.Info,
.Stock,
.Company {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  min-width: 300px; /* 최소 너비 설정 */
}

/* 테이블 기본 스타일 */
.stocktable,
.companytable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
/* th대신 뒤에 th붙은 것들, td 대신 뒤에 td 붙은 것들 */
.company-name-th,
.stock-quantity-th,
.current-price-th,
.average-price-th,
.profit-rate-th,
.company-name2-th,
.current-price2-th,
.fluctuation-rate2-th,
.company-name-td,
.stock-quantity-td,
.current-price-td,
.average-price-td,
.profit-rate-td,
.company-name2-td,
.current-price2-td,
.fluctuation-rate2-td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.company-name-td,
.stock-quantity-td,
.current-price-td,
.average-price-td,
.profit-rate-td,
.company-name2-td,
.current-price2-td,
.fluctuation-rate2-td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* 테이블 행 호버 효과 */
tr:hover {
  background-color: #f5f5f5;
}
.company-name-td,
.stock-quantity-td,
.current-price-td,
.average-price-td,
.profit-rate-td,
.company-name2-td,
.current-price2-td,
.fluctuation-rate2-td {
  border: 1px solid #ddd;
  text-align: right; /* 데이터 셀 오른쪽 정렬 */
  padding: 8px;
}

/* 테이블 헤더 스타일 */
.company-name-th,
.stock-quantity-th,
.current-price-th,
.average-price-th,
.profit-rate-th,
.company-name2-th,
.current-price2-th,
.fluctuation-rate2-th {
  background-color: black;
  color: white;
  text-align: center; /* 테이블 헤더 가운데 정렬 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .Info,
  .Stock,
  .Company {
    width: 100%;
  }
}

.positive,
.negative,
.zero {
  text-align: center; /* 조건에 따른 배경색 셀도 가운데 정렬이 필요하다면 추가 */
}

.positive {
  background-color: lightblue;
}

.negative {
  background-color: lightcoral;
}

.zero {
  background-color: lightgray;
}

.company-name-th {
  text-align: center;
  width: 20%; /* 예: 회사명 열의 너비를 테이블 전체 너비의 20%로 설정 */
}

.current-price-th,
.average-price-th {
  width: 25%; /* 예: 현재가와 평단가 열의 너비를 각각 25%로 설정 */
}
.stock-quantity-th {
  text-align: center;
}
.stock-quantity-th,
.profit-rate-th {
  width: 15%; /* 주식 수, 수익률, 등락률 열의 너비를 각각 15%로 설정 */
}

.company-name2-th {
  /* 가운데 정렬 */
  text-align: center;
  width: 30%;
}
.current-price2-th {
  width: 40%;
}
.fluctuation-rate2-th {
  width: 30%;
}
.current-price-td {
  padding-right: 5%;
}
.average-price-td {
  padding-right: 3.5%;
}
.current-price2-td {
  padding-right: 12%;
}
.fluctuation-rate2-td {
  padding-right: 10%;
}

.tier-bronze {
  color: #be7936; /* 브론즈 색상 */
}

.tier-silver {
  color: #6a8095; /* 실버 색상 */
}

.tier-gold {
  color: #eead35; /* 골드 색상 */
}

.tier-platinum {
  color: #52daa8; /* 플래티넘 색상 */
}

.tier-diamond {
  color: #34c1ee; /* 다이아몬드 색상 */
}
.Stock h1,
.Company h1 {
  text-align: center;
}

.company-name-td,
.company-name2-td {
  text-align: center;
}
.stock-quantity-td {
  text-align: center;
}
