/* signupPage.css */
.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .signup-card {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .signup-subtitle {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  
  .signup-form input {
    width: 95%;
    height: 20px;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
/* 이메일 입력과 중복 체크 버튼을 담는 컨테이너 스타일 */
/* 이메일 입력 필드와 버튼을 포함하는 div의 스타일 */
/* 이메일 입력 필드와 버튼을 포함하는 div의 스타일 */
.email-input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 1rem; /* 필요에 따라 조정 */
}

/* 이메일 입력 필드 스타일 */
.email-input {
  width: 100%;
  height: 30px !important; /* 버튼의 높이에 맞추어 조정 */
  padding: 0 15px 0 10px; /* 오른쪽 패딩을 버튼의 너비만큼 줄임 */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.875rem; /* 필요에 따라 조정 */
}

/* 버튼 스타일을 absolute로 설정하여 입력 필드 내에 위치시킴 */
.inline-check-email-button {
  position: absolute;
  right: 1px; /* 입력 필드 오른쪽 끝에 맞춤 */
  top: 1px; /* 입력 필드 상단에 맞춤 */
  height: 29px; /* 입력 필드의 높이보다 조금 작게 조정 */
  border: 1px solid #007bff; /* 버튼의 테두리 색상을 입력 필드와 동일하게 맞춤 */
  background-color: #007bff;
  color: #fff;
  padding: 0 10px; /* 내부 패딩 조정 */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 0.875rem; /* 글자 크기 조정 */
}

.inline-check-email-button:hover {
  background-color: #0056b3;
}



  

  .signup-form button.submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .signup-form button.submit-button:hover{
     opacity: 0.9;
  }
  
  .divider {
    display: flex;
    align-items: center;
    margin: 2rem 0;
  }
  
  .divider-line {
    flex: 1;
    border-top: 1px solid #ddd;
  }
  
  .divider-text {
    padding: 0 1rem;
    color: #666;
    font-size: 0.875rem;
  }
  
  .social-signup {
    display: flex;
    justify-content: center;
    /* 여기에 소셜 회원가입 아이콘 스타일을 추가하세요 */
  }
  
  .login-prompt {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1rem;
  }
  
  .login-prompt a {
    color: #007bff;
    text-decoration: none;
  }
  .error-message {
    color: red;
    margin-top: -1.0rem; /* 문구와 입력칸 사이의 거리를 조절하세요. */
    font-size: 14px;
  }
  .success-message {
    color: green;
    margin-top: -1.0rem; /* 문구와 입력칸 사이의 거리를 조절하세요. */
    font-size: 14px;
  }
