.Header {
  background-color: #c9d4ff; /* 회색 배경 */
  height: 30px;
  padding-top: 20px;
}
.Header-nav {
  display: flex;
  justify-content: space-between; /* 네비게이션 내의 요소들을 양 끝으로 분리 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 0 30px; /* 양 끝에 패딩 추가 */
}

.Header-group_one,
.Header-group_two {
  display: flex;
  align-items: center;
  height: 10px;
}

/* Header-link 클래스에 마진을 추가하여 링크 사이의 공간을 넓힘 */
.Header-link {
  margin-right: 40px; /* 모든 링크의 오른쪽에 여백 추가 */
}

/* 마지막 링크의 경우 오른쪽 여백을 제거 */
.Header-link:last-child {
  margin-right: 0;
}
.Header-link:last-of-type,
.heart-icon {
  margin-right: 0; /* 마진을 제거하여 붙여놓습니다. */
}
